<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="footer-top col-12">
                <hr>
                <h4>Share</h4>
                <p>Use the hashtag #SSUHomecoming to share your homecoming experience on social media</p>
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" href="http://www.facebook.com/savannahstate">Facebook</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://twitter.com/savannahstate">Twitter</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://instagram.com/savannahstate/">Instagram</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://www.linkedin.com/edu/savannah-state-university-18184">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="footer-bottom col-12">
                
            </div>
        </div>
    </div>
    
    
</div>