.event{
    border: 1px solid #ddd;
    background-color: #e2edff;
    padding: 10px;
    border-radius: 5px;
}
.event a{
    color: #d43900;
    padding: 5px;
    border-radius: 5px;
}
.event a:hover{
    background-color: #fff;
    text-decoration: none;
}
.ssu-blue{
    color: #337ab7;
}