<h1>Homecoming Events</h1>
<section *ngIf="resultsFilled" class="events">
    <div class="event" *ngFor="let searchResult of searchResults">
        <div class="row">
            <h4 class="col-12">{{searchResult.name}}</h4>
        </div>
        <div class="row">
            <p class="col-md-6 col-sm-12">{{searchResult.description}}</p>
            <p class="col-md-6 col-sm-12">
                Date: <span class="ssu-blue">{{searchResult.date | date:'fullDate'}}</span><br>
                Location: <span class="ssu-blue">{{searchResult.location}}</span><br>
                Audience: <span class="ssu-blue">{{searchResult.audience}}</span><br>
                Price: <span class="ssu-blue">{{searchResult.price}}</span></p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12" *ngFor="let link of searchResult.links">
                <a href="{{link.url}}" target="_blank">{{link.text}}</a>
            </div>
        </div>
    </div>
</section>
