<div class="container main-content">
  <div class="row">
    <div class="col-12">
      <h1>Contact Us</h1>
      
        <p>
          3219 College St<br>
          Savannah, Ga 31404<br>
          Tel: 912.358.4SSU (4778)<br>
          <a href="mailto:homecoming@savannahstate.edu">homecoming@savannahstate.edu</a>
        </p>
        <p>
          <a href="http://www.savannahstate.edu/social-media/">Follow Us On Social Media</a>
        </p>

        <b>Alumni Relations: </b> 912-358-3051<br>
        <b>Athletics: </b> 912-358-3449<br>
        <b>Campus Activities Board: </b> 912-358-3127<br>
        <b>Football Game Tickets: </b> 912-358-3449/3429<br>
        <b>Fundraising Events: </b> 912-358-3059<br>
        <b>Parade: </b> 912-358-3132<br>
        <b>SSUNAA: </b> <a href="mailto:newcam23@comcast.net">newcam23@comcast.net</a> or <a href="mailto:lcbwc@comcast.net">lcbwc@comcast.net</a><br>
        <b>Tailgating/Vending: </b> 912-358-3449
        
    </div>
  </div>
</div>
