<div class="nav-container">
    <div class="container">
        <div class="row">
            <div class="col12">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/coronation">Coronation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/events">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.bkstr.com/savannahstatestore/home">Bookstore</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
