<div class="nav-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/football">Football</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/parade">Parade</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/coronation">Coronation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/events">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.bkstr.com/savannahstatestore/home">Bookstore</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <app-search></app-search>
            </div>
        </div>
    </div>
</div>
