/* You can add global styles to this file, and also import other style files */
body {
  color: #fff;
  background-color: black;
  background-image: url("/assets/images/blurry-cheerleader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
}

.starter-template {
  padding: 3rem 0rem;
}


.extraLgText{
    font-size: 3.5rem;
}

.subTitle{
    font-size: 40px;
}

.main-content {
  background-color: rgba(0, 0, 0, 0.75);
  padding-top:15px;
  padding-bottom:15px;
  margin-top:15px;
}

.event div {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px 30px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.event img{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.call-to-action {
  color: #d43900;
  font-weight: bold;
  border: solid 1px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #000000;
}

.call-to-action:hover{
    color: #fff;
    background-color: #d43900;
    text-decoration: none;
    border-color:  #d43900;
}

.call-to-action-lg{
    font-size: 24px;
    padding: 10px 20px;
}


footer {
  padding-top: 20px;
  padding-bottom: 50px;
}

#searchResults {
  background-color:#fff;
  color:#000;
  z-index:99;
  top:50px;
  width:500px;
  right:10px;
  position:absolute;
}

  #searchResults p {
    padding: 1rem 2rem;
    margin-bottom:0;
    border-bottom: solid 1px;
  }
